.js-repo-nav,
#js-repo-pjax-container > div:first-child > div:first-child {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none !important;
}

#js-repo-pjax-container > div:first-child {
    box-shadow: 0 1px 0 #E1E4E9;
}